# This is the config file, and
# a '#' or ';' character indicates a comment
# https://git-scm.com/docs/git-config
; color
[color]
  ui = auto
  showBranch = auto
  status = auto
    updated
    
; core variables
[core]
  whitespace = trailing-space,space-before-tab
  editor = vim
  askpass = 
  ; Don't trust file modes
  filemode = false
  
[init]
  templatedir = ~/.git_template
  
[user]
  name = [username]
  email = email@email.com
  
[alias]
  co = checkout
  ec = config --global -e
  cob = checkout -b
  cm = !git add -A && git commit -m
  hist = log --pretty=format:'%C(dim cyan)%G?%C(reset) %C(yellow)%h%C(reset) - %C(green)(%cr)%C(reset) %C(bold white)%an%C(reset) %s %C(bold blue)%d%C(reset)' --graph --date-order --date=relative --abbrev-commit
  unstage = reset HEAD --
  cp = cherry-pick
  update = pull --rebase
  
[push]
  default = matching
  
[commit]
  verbose = true
  
; Cache credentials in memory for a short period of time
[credential]
  helper = cache --timeout 7200

; github
[credential "https://github.com"]
  username = [username]

; gitlab
[credential "https://gitlab.com"]
  username = [username]
